{% extends "base.html" %}
{% block titulo %}Generación de contraseñas seguras{% endblock %}
{% block estilos %}
    <link rel="stylesheet" type="text/css" href="/static/css/estilo_gc.css"/>
{% endblock %}
{% block script %}
  <script src="/static/js/generaClaves.js"></script>
{% endblock %} 
{% block barra %}
    <nav class="navbar navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'registroCredencial' %}">Volver al Registro</a>
      </nav>
{% endblock %}

{% block encabezado %}
<div class="py-5 text-center">
      <h2>Generar Contraseñas Seguras</h2>
      <p class="lead">
        En este sitio web puedes crear contraseñas aleatorias seguras para tus aplicaciones.
      </p>
    </div>
</div>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Contraseñas Seguras</span>
          <span id="span_pass_number" class="badge badge-secondary badge-pill">0</span>
        </h4>
        <ul id="ul_passwords" class="list-group mb-3">
        </ul>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Configuración</h4>
        <form id="frmSecurePass" class="needs-validation">
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chk_uppercase" checked="true">
            <label class="custom-control-label" for="chk_uppercase">Utilizar letras mayúsculas</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chk_lowercase" checked="true">
            <label class="custom-control-label" for="chk_lowercase">Utilizar letras minusculas </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chk_numbers" checked="true">
            <label class="custom-control-label" for="chk_numbers">Utilizar Números </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chk_symbols" checked="true">
            <label class="custom-control-label" for="chk_symbols">Utilizar simbolos </label>
          </div>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Longitud de contraseña</label>
              <input type="number" min="6" max="45" value="8" class="form-control" id="password_length" placeholder="Ejem: 10" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Cantidad de contraseñas</label>
              <input type="number" min="1" value="1" max="5" class="form-control" id="password_count" placeholder="Ejem: 1" required>
            </div>
          </div>
          <hr class="mb-4">
          <button id="btnGenerate" class="btn btn-primary btn-lg btn-block" type="submit">Generar contraseñas</button>
        </form>
    </div>
{% endblock %}
