{% extends "base.html" %}
{% block titulo %}Registro Usuario{% endblock %}
{% block estilos %}{% endblock %} 
{% block script %}{% endblock %}
{% block encabezado %}
<section class="jumbotron text-center">
    <h1>Menu Principal</h1>
</section>
{% endblock %}
{% block barra %}
  <nav class="navbar navbar bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'registroCredencial' %}">Añadir Cuenta Nueva</a>
    <a class="navbar-brand" href="{% url 'logout' %}">Cerrar Sesion</a>
  </nav>
{% endblock %}