{% extends "base.html" %}
{% block titulo %}RCU{% endblock %}
{% block estilos %}
  
{% endblock %} 
{% block script %}

{% endblock %}
{% block encabezado %}
<section class="jumbotron text-center">
  <p class="display">Registro de Credencial</p>
</section>
{% endblock %}
{% block barra %}
  <nav class="navbar navbar bg-dark navbar-dark">
    
  </nav>
{% endblock %}
{% block contenido %}
<section class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-7">
                <label>Nombre de la Cuenta :</label>
                <input type="text" class="form-control" name="nombre" placeholder="Ingresa tu nombre completo">
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label>Contraseña:</label>
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
                <!--aqui pondremos la forma de autogenerar la contraseña y que se pueda mostrar hasta ahorita tenemos la opcion de dos botones uno que genere o y otro que muestre-->
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <label>URL :</label>
                <input type="url" class="form-control" name="url" placeholder="www.example.com/example" >
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label>Detalles Extra :</label>
                <textarea name="detalles" rows="5" cols="10"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline-success btn-block">Registrar</button>
        </div>
    </form>
</section>
{% endblock %}